body {
  background: #f2ede6;
  color: #111111;
  font-family: "work-sans", sans-serif;
  font-style: normal;
  text-align: center;
}

h1 {
  font-weight: 400;
}

a {
  color: #111111;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
