:root {
  --background: #ffffff;
  --text: #4141a4;
  --accent-color: #a0a0ff;
}

div.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "chandler-42-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.7;
}

header {
  font-weight: 400;
}

main {
  margin: 30px;
  margin-left: 30px;
}

input {
  background: none;
  border: none;
  border-bottom: 2px solid var(--accent-color);
  color: var(--text);
  font-family: "chandler-42-regular", sans-serif;
  font-size: 16px;
  width: 75px;
}

input:focus {
  background: none;
  border: none;
  border-bottom: 2px solid var(--accent-color);

  outline: none;
}

#generatePoem::placeholder {
  color: var(--accent-color);
  font-family: "chandler-42-regular", sans-serif;
  font-style: normal;
  text-align: left;
}

#search {
  background: none;
  border: none;
  color: var(--text);
}

#hiddenText {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
}

div.poem {
  margin-top: 30px;
  margin-left: 30px;
}

footer {
  margin-top: 30px;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  font-weight: 500;
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }

  input {
    font-size: 12px;
    width: 65px;
  }
}
