body {
  background: #f2ede6;
  color: #111111;
  font-family: "chandler-42-regular", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1 {
  font-weight: 400;
  font-size: 24px;
}

main {
  margin: 30px;
}

div.poem {
  margin-top: 30px;
}

a {
  color: #111111;
  text-decoration: none;
}

a:hover {
  font-weight: 500;
}
